# {{ ansible_managed }}

[Unit]
Description=Apache Kafka Server
Requires=network.target
After=syslog.target network.target zookeeper.service

[Service]
Type=simple
User=kafka
Group=kafka
LimitNOFILE=32768
Restart=on-failure
WorkingDirectory=/var/run/kafka
PrivateTmp=yes
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_opts }}"
ExecStart={{ kafka_bin_dir }}/kafka-server-start.sh /etc/kafka/server.properties

[Install]
WantedBy=multi-user.target
